@import url("https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "Varta", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

section {
  position: absolute;
  top: 0;
  transition: opacity 0.1s ease-in 0.3s;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  z-index: 0;
  display: flex;
  margin-top: 50px;
}
@media (min-width: 768px) {
  section {
    margin-top: 0px;
  }
}
section .content {
  width: 80vw;
  margin: auto;
  font-size: 1.2em;
}
@media (min-width: 768px) {
  section .content {
    width: 60vw;
    padding-bottom: 1em;
    font-size: 1.5em;
  }
}
@media (min-width: 1296px) {
  section .content {
    width: 50vw;
    padding-bottom: 1em;
    font-size: 1.5em;
  }
}
section .content h1 {
  font-size: 2em;
  font-family: "Alata", sans-serif;
  text-align: center;
  margin-bottom: 1.4em;
}
section .content .coming-soon {
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  margin-top: -1em;
}
section .content a {
  white-space: nowrap;
  color: black;
  -webkit-text-decoration: underline #f06449 solid;
          text-decoration: underline #f06449 solid;
  transition: all 0.1s ease-in-out;
}
section .content a:hover {
  color: #5bc3eb !important;
  -webkit-text-decoration-color: #5bc3eb !important;
          text-decoration-color: #5bc3eb !important;
}
section.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out 0.1s, visibility 0s ease-in-out 0.3s;
  z-index: -1;
}

.school {
  margin: 30px 0;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .school {
    flex-direction: row;
  }
}
.school__logo, .school__empty-col {
  flex: 1;
}
.school__logo {
  min-height: 80px;
  margin-bottom: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.school .logo--columbia {
  background-image: url("../assets/img/columbia_logo.png");
}
.school .logo--tas {
  background-image: url("../assets/img/tas_logo.png");
}
.school__text {
  flex: 5;
}
.school h2 {
  font-size: 1em;
  line-height: 1.6em;
  font-family: "Alata", sans-serif;
}
.school__name {
  font-size: 1.2em;
  font-family: "Alata", sans-serif;
  margin-right: 10px;
}
.school__degree {
  font-size: 1.1em;
  padding: 0.3em;
  font-weight: 400;
}
.school__gpa, .school__notes {
  padding: 0.2em;
  font-size: 1em;
  line-height: 1.3em;
}
.school__gpa::before {
  content: "GPA: ";
  font-weight: 300;
}
.school__transcript {
  display: inline-block;
  -webkit-text-decoration-color: #23967f !important;
          text-decoration-color: #23967f !important;
}
.school__transcript::before {
  margin-left: 10px;
  content: "[";
}
.school__transcript::after {
  content: "]";
}

.company {
  margin: 30px 0;
  font-size: 0.8em;
  text-align: center;
}
.company h2 {
  font-size: 1.1em;
  line-height: 1.6em;
}
.company__name {
  font-size: 1.1em;
  font-family: "Alata", sans-serif;
}
.company__position {
  font-size: 1.1em;
  font-style: italic;
  padding: 0.3em;
  font-weight: 400;
}
.company__description {
  text-align: center;
  padding: 0.2em;
  font-size: 1em;
  line-height: 1.3em;
}
.company__description li {
  margin-bottom: 5px;
}

.contact {
  text-align: center;
  line-height: 1.6em;
}
.contact span {
  font-weight: bold;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */