@import url("https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "Varta", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

footer {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 10px;
  opacity: 60%;
}
@media (min-width: 1024px) {
  footer {
    display: none;
  }
}

section {
  position: absolute;
  top: 0;
  transition: opacity 0.1s ease-in 0.3s;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  z-index: 0;
  display: flex;
}
section .content {
  width: 80vw;
  margin: auto;
  font-size: 1.2em;
}
@media (min-width: 768px) {
  section .content {
    width: 60vw;
    padding-bottom: 1em;
    font-size: 1.5em;
  }
}
@media (min-width: 1296px) {
  section .content {
    width: 50vw;
    padding-bottom: 1em;
    font-size: 1.5em;
  }
}
section .content h1 {
  font-size: 2em;
  font-family: "Alata", sans-serif;
  text-align: center;
  margin-bottom: 1.4em;
}
section .content .coming-soon {
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  margin-top: -1em;
}
section .content a {
  white-space: nowrap;
  color: black;
  -webkit-text-decoration: underline #f06449 solid;
          text-decoration: underline #f06449 solid;
  transition: all 0.1s ease-in-out;
}
section .content a:hover {
  color: #5bc3eb !important;
  -webkit-text-decoration-color: #5bc3eb !important;
          text-decoration-color: #5bc3eb !important;
}
section.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out 0.1s, visibility 0s ease-in-out 0.3s;
  z-index: -1;
}

.entry {
  margin: 30px 0;
  font-size: 0.8em;
  text-align: center;
  transition: opacity 200ms;
}
.entry.inactive {
  opacity: 30%;
}

.entry__intro {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .entry__intro {
    flex-direction: row;
  }
}
.entry__intro .logo-col, .entry__intro .drop-col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.entry__intro .logo-col {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100px;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .entry__intro .logo-col {
    margin-bottom: 0px;
  }
}
@media (max-width: 1023px) {
  .entry__intro .drop-col {
    display: none;
  }
}
.entry__intro .drop-col i {
  display: block;
  font-size: 3em;
  opacity: 40%;
  transition: opacity 200ms, transform 300ms;
}
.entry__intro .drop-col i:hover {
  opacity: 70%;
  cursor: pointer;
}
.entry__intro .drop-col.active > i {
  transform: rotate(180deg);
}
.entry__intro .text-col {
  flex: 5;
}
.entry__intro .text-col h2 {
  font-size: 1em;
  line-height: 1.6em;
  font-family: "Alata", sans-serif;
}
.entry__intro .text-col h2 a {
  font-size: 1.2em;
  font-family: "Alata", sans-serif;
  margin-right: 10px;
}
.entry__intro .text-col h3 {
  font-size: 1.1em;
  padding: 0.3em;
  font-weight: 400;
}
.entry__intro .text-col p {
  padding: 0.1em;
  font-size: 1em;
  line-height: 1.3em;
}

.entry__more {
  padding: 30px;
  display: none;
}

.education__gpa::before {
  content: "GPA: ";
  font-weight: 300;
}
.education__gpa a {
  display: inline-block;
  -webkit-text-decoration-color: #23967f !important;
          text-decoration-color: #23967f !important;
}
.education__gpa a::before {
  margin-left: 10px;
  content: "[";
}
.education__gpa a::after {
  content: "]";
}
.education__coursework {
  width: 80%;
  margin: auto;
}
.education__coursework a {
  font-family: "Alata", sans-serif;
  margin-right: 10px;
}
.education__coursework p {
  line-height: 1.2em;
  text-align: justify;
  margin: 10px 0px;
}
.education #columbia-logo {
  background-image: url("../assets/img/columbia_logo.png");
}
.education #tas-logo {
  background-image: url("../assets/img/tas_logo.png");
}

.work-experience #jpl-logo {
  background-image: url("../assets/img/jpl_logo.gif");
}
.work-experience #via-logo {
  background-image: url("../assets/img/via_logo.png");
}
.work-experience #library-logo {
  background-image: url("../assets/img/columbia_logo.png");
}

.about-me {
  text-align: center;
}
.about-me img {
  width: 300px;
  height: auto;
  margin-bottom: 50px;
}

.contact {
  text-align: center;
  line-height: 1.6em;
}
.contact span {
  font-weight: bold;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */