@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

body {
    font-family: 'Varta', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 10px;

    @media (min-width: 1024px) {
        display: none;
    }

    opacity: 60%;
}

section {
    position: absolute;
    top: 0;
    transition: opacity 0.1s ease-in 0.3s;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 0;
    display: flex;

    .content {
        width: 80vw;
        margin: auto;
        font-size: 1.2em;

        @media (min-width: 768px) {
            width: 60vw;
            padding-bottom: 1em;
            font-size: 1.5em;
        }

        @media (min-width: 1296px) {
            width: 50vw;
            padding-bottom: 1em;
            font-size: 1.5em;
        }

        h1 {
            font-size: 2em;
            font-family: 'Alata', sans-serif;
            text-align: center;
            margin-bottom: 1.4em;
        }

        .coming-soon {
            font-size: 1em;
            line-height: 2em;
            text-align: center;
            margin-top: -1em;
        }

        a {
            white-space: nowrap;
            color: black;
            text-decoration: underline #f06449 solid;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: #5bc3eb !important;
                text-decoration-color: #5bc3eb !important;
            }
        }
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out 0.1s, visibility 0s ease-in-out 0.3s;
        z-index: -1;
    }
}

.entry {
    margin: 30px 0;
    font-size: 0.8em;
    text-align: center;

    transition: opacity 200ms;
    &.inactive {
        opacity: 30%;
    }
}

.entry__intro {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    @media (min-width: 1024px) {
        flex-direction: row;
    }
    .logo-col, .drop-col {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .logo-col {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        min-height: 100px;
        margin-bottom: 20px;
        @media (min-width: 1024px) {
            margin-bottom: 0px;
        }
    }

    .drop-col {
        @media (max-width: 1023px) {
            display: none;
        }

        i {
            display: block;
            font-size: 3em;
            opacity: 40%;
            transition: opacity 200ms, transform 300ms;
        }

        i:hover {
            opacity: 70%;
            cursor: pointer;

        }

        &.active > i {
            transform: rotate(180deg);
        }
    }

    .text-col {
        flex: 5;

        h2 {
            font-size: 1em;
            line-height: 1.6em;
            font-family: 'Alata', sans-serif;

            a {
                font-size: 1.2em;
                font-family: 'Alata', sans-serif;
                margin-right: 10px;
            }
        }

        h3 {
            font-size: 1.1em;
            padding: 0.3em;
            font-weight: 400;
        }

        p {
            padding: 0.1em;
            font-size: 1em;
            line-height: 1.3em;
        }
    }
}

.entry__more {
    padding: 30px;
    display: none;
}

.education {
    &__gpa {
        &::before {
            content: "GPA: ";
            font-weight: 300;
        }

        a {
            display: inline-block;
            text-decoration-color: #23967f !important;

            &::before {
                margin-left: 10px;
                content: "[";
            }

            &::after {
                content: "]";
            }
        }
    }

    &__coursework {
        width: 80%;
        margin: auto;

        a {
            font-family: 'Alata', sans-serif;
            margin-right: 10px;
        }

        p {
            line-height: 1.2em;
            text-align: justify;
            margin: 10px 0px;
        }
    }

    #columbia-logo {
        background-image: url("../assets/img/columbia_logo.png");
    }

    #tas-logo {
        background-image: url("../assets/img/tas_logo.png");
    }
}

.work-experience {
    #jpl-logo {
        background-image: url("../assets/img/jpl_logo.gif");
    }

    #via-logo {
        background-image: url("../assets/img/via_logo.png");
    }

    #library-logo {
        background-image: url("../assets/img/columbia_logo.png");
    }
}

// .company {
//     margin: 30px 0;
//     font-size: 0.8em;
//     text-align: center;

//     h2 {
//         font-size: 1.1em;
//         line-height: 1.6em;
//     }

//     &__name {
//         font-size: 1.1em;
//         font-family: 'Alata', sans-serif;
//     }

//     &__position {
//         font-size: 1.1em;
//         font-style: italic;
//         padding: 0.3em;
//         font-weight: 400;
//     }

//     &__description {
//         text-align: center;
//         padding: 0.2em;
//         font-size: 1em;
//         line-height: 1.3em;
//         // list-style: square;

//         li {
//             margin-bottom: 5px;
//         }
//     }
// }

.about-me {
    text-align: center;
    img {
        width: 300px;
        height: auto;
        margin-bottom: 50px;
    }
}

.contact {
    text-align: center;
    line-height: 1.6em;

    span {
        font-weight: bold;
        margin-right: 10px;
    }
}
