@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

body {
    font-family: 'Varta', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

section {
    position: absolute;
    top: 0;
    transition: opacity 0.1s ease-in 0.3s;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 0;
    display: flex;

    margin-top: 50px;
    @media (min-width: 768px) {
        margin-top: 0px;
    }

    .content {
        width: 80vw;
        margin: auto;
        font-size: 1.2em;

        @media (min-width: 768px) {
            width: 60vw;
            padding-bottom: 1em;
            font-size: 1.5em;
        }

        @media (min-width: 1296px) {
            width: 50vw;
            padding-bottom: 1em;
            font-size: 1.5em;
        }

        h1 {
            font-size: 2em;
            font-family: 'Alata', sans-serif;
            text-align: center;
            margin-bottom: 1.4em;
        }

        .coming-soon {
            font-size: 1em;
            line-height: 2em;
            text-align: center;
            margin-top: -1em;
        }

        a {
            white-space: nowrap;
            color: black;
            text-decoration: underline #f06449 solid;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: #5bc3eb !important;
                text-decoration-color: #5bc3eb !important;
            }
        }
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out 0.1s, visibility 0s ease-in-out 0.3s;
        z-index: -1;
    }
}

.school {
    margin: 30px 0;
    font-size: 0.8em;
    text-align: center;
    display: flex;

    flex-direction: column;
    @media (min-width: 1024px) {
        flex-direction: row;
    }

    &__logo, &__empty-col {
        flex: 1;
    }

    &__logo {
        min-height: 80px;
        margin-bottom: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .logo--columbia {
        background-image: url("../assets/img/columbia_logo.png");
    }
    .logo--tas {
        background-image: url("../assets/img/tas_logo.png");
    }

    &__text {
        flex: 5;
    }

    h2 {
        font-size: 1em;
        line-height: 1.6em;
        font-family: 'Alata', sans-serif;
    }

    &__name {
        font-size: 1.2em;
        font-family: 'Alata', sans-serif;
        margin-right: 10px;
    }

    &__degree {
        font-size: 1.1em;
        padding: 0.3em;
        font-weight: 400;
    }

    &__gpa,
    &__notes {
        padding: 0.2em;
        font-size: 1em;
        line-height: 1.3em;
    }

    &__gpa::before {
        content: "GPA: ";
        font-weight: 300;
    }

    &__transcript {
        display: inline-block;
        text-decoration-color: #23967f !important;

        &::before {
            margin-left: 10px;
            content: "[";
        }

        &::after {
            content: "]";
        }
    }
}

.company {
    margin: 30px 0;
    font-size: 0.8em;
    text-align: center;

    h2 {
        font-size: 1.1em;
        line-height: 1.6em;
    }

    &__name {
        font-size: 1.1em;
        font-family: 'Alata', sans-serif;
    }

    &__position {
        font-size: 1.1em;
        font-style: italic;
        padding: 0.3em;
        font-weight: 400;
    }

    &__description {
        text-align: center;
        padding: 0.2em;
        font-size: 1em;
        line-height: 1.3em;
        // list-style: square;

        li {
            margin-bottom: 5px;
        }
    }
}

.contact {
    text-align: center;
    line-height: 1.6em;

    span {
        font-weight: bold;
        margin-right: 10px;
    }
}
